body {
    font-family: Arial, Verdana, serif;
}

h1 {
    font-size: 16px;
}

#board_form {
    display: table;
}

#board {
	display: table-row;
	width: 100%;
	border-left: 1px solid black;
}

.column_tickets {
    display: table-cell;
	margin: 0;
	padding: 5px;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
    min-width: 150px;
    list-style: none;
    width: 15%;
}

.column_header {
	border-bottom: 1px solid black;
    font-size: 14px;
    font-weight: bold;
}


li.board_ticket {
	border: 2px solid black;
	list-style-type: none;
	margin: 5px 0;
	width: 98%;
    font-size: 12px;
}

li.board_ticket h3 {
	margin: .3em;
	width: 99%;
	border-bottom: 1px solid black;
}

li.board_ticket h3 a {
	text-decoration: none;
    color: #000;
    font-size: 12px;
}

li.board_ticket dl {
	margin: 0;
	padding: 0 0 0 .3em;
}

li.board_ticket dl dt {
	float: left; 
	clear: left;
	width: 110px;
	text-align: left; 
	font-weight: bold;
}

li.board_ticket dl dt:after { 
	content: ":"; 
}

li.board_ticket dl dd { 
	margin: 0 0 0 120px; 
	padding: 0 0 0 .3em;
}

li.critical { background: #ff6666; border-color: #990000}
li.high { background: #ffcc66; border-color: #cc6600}
li.medium { background: #ffff33; border-color: #cccc00}
li.low { background: #66ccff; border-color: #009999}
li.very low { background: #cccccc; border-color: #666666}
li.none { background: #ffffff; border-color: #666666}


.ticket_placeholder {
	background: #FFD;
	border: 1px solid #996;
	height: 100px;
	width: 98%
}