<html>
<head>
    <title>WinkBall - Whiteboard</title>

    <link type="text/css" rel="stylesheet" href="/css/whiteboard.css"/>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/jquery.equalheights.js"></script>
    <script type="text/javascript" src="/js/whiteboard.js"></script>
</head>
<body>
    <h1>Workflow for Milestone: $milestone</h1>
    <form id="board_form" method="post" action="/whiteboard">
        <div id="board">
            <ul id="todo" class="column_tickets">
                <li class="column_header">TO DO</li>
                #foreach( $ticket in $todo )
                    <li id="board_ticket_$ticket.id" class="board_ticket $ticket.priority">
                        <h3><a href="">#$ticket.id: $ticket.summary</a></h3>
                        <dl>
                            <dt>Status</dt>
                            <dd>$ticket.status</dd>
                            <dt>Type</dt>
                            <dd>$ticket.type</dd>
                            <dt>Priority</dt>
                            <dd>$ticket.priority</dd>
                            <dt>Owner</dt>
                            <dd>$ticket.owner</dd>
                        </dl>
                    </li>
                #end
            </ul>
            <ul id="inprogress" class="column_tickets">
                <li class="column_header">IN PROGRESS</li>
                #foreach( $ticket in $inprogress )
                    <li id="board_ticket_$ticket.id" class="board_ticket $ticket.priority">
                        <h3><a href="">#$ticket.id: $ticket.summary</a></h3>
                        <dl>
                            <dt>Status</dt>
                            <dd>$ticket.status</dd>
                            <dt>Type</dt>
                            <dd>$ticket.type</dd>
                            <dt>Priority</dt>
                            <dd>$ticket.priority</dd>
                            <dt>Owner</dt>
                            <dd>$ticket.owner</dd>
                        </dl>
                    </li>
                #end
            </ul>
            <ul id="reviewing" class="column_tickets">
                <li class="column_header">IN REVIEW</li>
                #foreach( $ticket in $review )
                    <li id="board_ticket_$ticket.id" class="board_ticket $ticket.priority">
                        <h3><a href="">#$ticket.id: $ticket.summary</a></h3>
                        <dl>
                            <dt>Status</dt>
                            <dd>$ticket.status</dd>
                            <dt>Type</dt>
                            <dd>$ticket.type</dd>
                            <dt>Priority</dt>
                            <dd>$ticket.priority</dd>
                            <dt>Owner</dt>
                            <dd>$ticket.owner</dd>
                        </dl>
                    </li>
                #end
            </ul>
            <ul id="testing" class="column_tickets">
                <li class="column_header">TESTING</li>
                #foreach( $ticket in $testing )
                    <li id="board_ticket_$ticket.id" class="board_ticket $ticket.priority">
                        <h3><a href="">#$ticket.id: $ticket.summary</a></h3>
                        <dl>
                            <dt>Status</dt>
                            <dd>$ticket.status</dd>
                            <dt>Type</dt>
                            <dd>$ticket.type</dd>
                            <dt>Priority</dt>
                            <dd>$ticket.priority</dd>
                            <dt>Owner</dt>
                            <dd>$ticket.owner</dd>
                        </dl>
                    </li>
                #end
            </ul>
            <ul id="done" class="column_tickets">
                <li class="column_header">DONE</li>
                #foreach( $ticket in $done )
                    <li id="board_ticket_$ticket.id" class="board_ticket $ticket.priority">
                        <h3><a href="">#$ticket.id: $ticket.summary</a></h3>
                        <dl>
                            <dt>Status</dt>
                            <dd>$ticket.status</dd>
                            <dt>Type</dt>
                            <dd>$ticket.type</dd>
                            <dt>Priority</dt>
                            <dd>$ticket.priority</dd>
                            <dt>Owner</dt>
                            <dd>$ticket.owner</dd>
                        </dl>
                    </li>
                #end
            </ul>
        </div>
        <input type="hidden" id="board_changes" name="board_changes" value="" />
        <input type="submit" id="board_submit" name="board_submit" value="Save Changes" />
    </form>
</body>
</html>

